:root {
  --button-height: 59px;
}

.button {
  font-family: 'Assistant', sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin: 0 auto;
  color: white;
  width: 255px;
  text-align: center;
  line-height: var(--button-height);
  background-color: #06243c;
  border-radius: 4px;
  height: var(--button-height);
}
